<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>{{title}}</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	   <div class="col-xs-8">
	       <input type="text" class="form-control" name="task" placeholder="Task" #taskInput>
	   </div>

	   <div class="col-xs-4">
	       <button class="btn btn-info" (click)="addTask(taskInput.value)">Add</button>
	   </div>
	</div>
	   <div class="row">
	       <table class="table table-striped">
	       	<thead>
	       		<tr>
	       			<td>No</td>
	       			<td>List Name</td>
	       			<td colspan="2">Action</td>
	       		</tr>
	       	</thead>
	       	<tbody>       		
		           <tr *ngFor="let task of tasks; let idx = index ">
		           	<td>
		           		{{idx +1 }}
		           	</td>
		           	<td *ngIf="task.is_canceled; else elseTd">
		           		<s>{{task.title}}</s>
		           	</td>
		           	<ng-template #elseTd>
		           		<td>{{task.title}}</td>
		           	</ng-template>

		           	<td *ngIf="task.is_canceled; else elseButton">
		           		<button class="btn btn-info" (click)="cancelTask(idx)">Actived</button>
		           	</td>
		           	<ng-template #elseButton>
		           		<td>
		           			<button class="btn btn-warning" (click)="cancelTask(idx)">Cancel</button>
		           		</td>
		           	</ng-template>
		           	<td>
		           		<button class="btn btn-danger" (click)="deleteTask(idx)">
		           			Delete
		           		</button>
		           	</td>
		           </tr>
	       	</tbody>
	       	<tfoot>
	       		<tr>
	   			<button class="btn btn-danger" (click)="clearTodo()">Clear</button>
	       		</tr>
	       	</tfoot>
	       </table>
	   </div>

</div>